<%= simple_form_for(@twet) do |form| %>
<% form.error_notification %>

<div class='field'>
  <div class='control'>
    <%= form.input :twet, label: 'Twet about it!', input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'}, placeholder: 'Write a new twet...' %>
  </div>
</div>
<%= form.button :submit, class: 'button is-info' %>

<% end %>
