<section class='section'>
  <div class='container'>
    <div class='columns'>
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>



  <!-- tbody
    < @twets.each do |twet| %>
      <tr>
        <td><= twet.twet %></td>
        <td><= link_to 'Show', twet %></td>
        <td><= link_to 'Edit', edit_twet_path(twet) %></td>
        <td><= link_to 'Destroy', twet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    < end %>
  </tbody>


<br>

<= link_to 'New Twet', new_twet_path %>
-->
